<div >
    <table class="table-auto shadow-lg bg-white">
        <thead>
            <tr class='text-2xl font-light '>
                <th class="bg-blue-200 border text-left px-8 py-4">Client number</th>
                <th class="bg-blue-200 border text-left px-8 py-4"> Name</th>
                <th class="bg-blue-200 border text-left px-8 py-4"> Options</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clientList">
                <td class="border px-20 py-6">{{client.clientNumber}}</td>
                <td class="border px-20 py-6">{{client.fullname}}</td>
                <td class="border  px-20 py-6">
                    <a routerLink="/AddBankaccount"  class="tablebtn bg-green-500 ">New Account</a>  
                </td>
            </tr>
            
        </tbody>
    </table>
</div>