<div class="my-20 text-2xl max-w-5xl flex flex-col">
    <form >

        <div class="flex items-center mb-8">
            <label class="text-2xl pr-24 font-semibold block w-1/3" >Name</label>
            <label class="text-2xl pr-24 font-semibold block w-1/3" >Jose arturo garcia</label>
        </div>

        <div class="flex items-center mb-8">
            <label class="text-2xl pr-24 font-semibold block w-1/3" >Client Num</label>
            <label class="text-2xl pr-24 font-semibold block w-1/3" >9999999</label>
        </div>

        <div class="flex items-center mb-8">
            <label class="text-2xl pr-24 font-semibold block w-1/3" for="credit">Max credit </label>
            <input type="number" id="credit" class="ipt w-2/3" formControlName="credit" />
        </div>
        
        <div class=" flex justify-end py-5">
            <button type="submit" class="btn bg-green-500 hover:bg-green-700 mr-5 ">
                Create New Account
            </button>
    
        </div>
    </form>
</div>