<div class="my-20 text-2xl max-w-4xl flex flex-col">
    <form >

      <div class="flex items-center mb-8">
        <label class="formLabel" for="Account">Account Number</label>
        <input  id="name" class="ipt w-2/3"  />
    </div>

    <div class="flex items-center mb-8">
      <label class="formLabel" for="Money">Money</label>
      <input  id="Money" class="ipt w-2/3"  />
  </div>
      
  <div class=" flex justify-end py-5">
    <button type="submit" class="btn bg-green-500 hover:bg-green-700 mr-5 ">
      Withdrawal
    </button>
    </div>

    </form>
  </div>
  